<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>

<div th:each="person : ${people}">
    <a th:href="@{/people/{id}(id=${person.getId()})}"
       th:text="${person.getName() + ', ' + person.getAge()}">user</a>
</div>

<br/>
<hr/>
<br/>

<a href="/people/new">Create new person</a>


<br/><br/>
<hr/>
<br/>
<a href="http://localhost:8080/people/new">To page 'new'</a>
<br/>
<a href="http://localhost:8080/people">To page 'people'</a>

</body>
</html>